body,html{
    height:100%;
}
body{
    
}
.navbar-default {    
    background-image: linear-gradient(to bottom, #ae1c1c, white 310%);    
    border-radius:0;
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background: linear-gradient(to bottom, #ae1c1c, white 310%) repeat scroll 0 0 rgba(0, 0, 0, 0);   
    border-color:transparent;
}